<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{- partial "head.html" . -}}
    {{- partial "custom-scripts.html" . -}}
  </head>
  <body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    <div id="site-content">
      {{- partial "navbar.html" . -}}
      {{- block "main" . }}{{ end -}}
      {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
        {{ partial "footer.html" . }}
      {{ end }}
    </div>
    {{ partial "scripts.html" . }}
    {{- partial "custom-footer-scripts.html" . -}}
  </body>
</html>